doctype html
html
  head
    title #{hashtag} live Twitter stream
    link(href='//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

  body

    .text-center
      
      h1#hashtag
        #loader: img(src='/img/loader.gif')
        strong #{hashtag} 

      #tweets

      #hidden
    
    script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.min.js')
    script(src='/js/main.js')
